.Input {
  padding: 8px;
  border: none;
  outline: none;
}

.size_m {
  width: 160px;
  height: 28px;
}

.size_s {
  width: 180px;
  height: 28px;
}

.size_l {
  width: 200px;
  height: 28px;
}

.size_xl {
  width: 200px;
  height: 40px;
}